.beto-programador{
    width: 100vw;
    height: 100vh;
    background-color: brown;
}
h1{
    font-size: 50px;
    color: greenyellow;
    text-shadow: 5px 4px black;
    height: 200px;
    background: linear-gradient(90deg, blue 0%, red)
}